<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<app-dashboard></app-dashboard>
<video width="320" height="240" controls>
  <!-- <source src="http://localhost:9000/api/image/movie1.mp4" type="video/mp4"> -->
  <source src="http://localhost:9000/api/image/SunNov102019093131GMT0800PacificStandardTime.mp4" type="video/mp4">
</video>
<video width="320" height="240" controls>
  <!-- <source src="http://localhost:9000/api/image/movie1.mp4" type="video/mp4"> -->
  <source src="http://localhost:9000/api/image/SunNov102019093131GMT0800PacificStandardTime.mp4" type="video/mp4">
</video>
<app-form-image-submission></app-form-image-submission>
<app-form-video-submission></app-form-video-submission>
<router-outlet></router-outlet>
