/* You can add global styles to this file, and also import other style files */
body, html {
  padding: 0;
  width: 100vw;
  min-height: 30vh;
}

.my-container{
 width: 100vw;
 min-height: 30vh;
 /* height: 100vh; */
}