.my-container{
  background-color:pink;
  font-family: ubuntu;
}

ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

ul li {
  display: inline-block;
  width: fit-content;
}

img{
  width:150px;
  height:150px;
}

h1{
  color: #fff;
  font-size: 64px;
  letter-spacing: 2px;
  margin-top: 80px;
  text-align: center;
}

li{
  padding: 20px;
}