<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-firestore.js"></script>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Document</title>
</head>
<body>
    <h1>Fly Web Application</h1>

    <% for(var i=0; i < results.length ; i++) {%>
      <h2>hello there</h2>
      <% } %>

    <img src="/img1.png">
    <div class="content">
        <label>Submit your Image</label>
        <form id="image-submission">
          <input type="text" name="image_address" placeholder="image address">
          <button>Submit</button>
        </form>


      <label>Upload your Image</label>
      <!-- <div id="filesubmit">
          <input type="file" class="file-select" accept="image/*"/>
          <button class="file-submit">SUBMIT</button>
      </div> -->
      <form method="post" enctype="multipart/form-data" action="/upload">
        <input type="file" name="file">
        <input type="submit" value="Submit">
      </form>


      <ul id="image-list"></ul>
    </div>
    <script>
        var firebaseConfig = {
        apiKey: "AIzaSyCxYKv0LD9nCJHmuQpri3UwCJSX8cxYhkE",
        authDomain: "first-firebase-project-38359.firebaseapp.com",
        databaseURL: "https://first-firebase-project-38359.firebaseio.com",
        projectId: "first-firebase-project-38359",
        storageBucket: "first-firebase-project-38359.appspot.com",
        messagingSenderId: "423648091452",
        appId: "1:423648091452:web:7ba0fabeb7490ea028d239"
      };
      // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        const db = firebase.firestore() 
    </script>
    <script>
      const form = document.querySelector('#image-submission')



      let selectedFile;
      function handleFileUploadChange(e) {
        selectedFile = e.target.files[0];
      }

      function handleFileUploadSubmit(e) {
        console.log('attempting to save file')

    }



      form.addEventListener('submit', (e) => {
        e.preventDefault();
        db.collection('images1').add({
          image_address : form.image_address.value,
        })
        form.image_address.value = ''
        console.log('submitted image')
      })
    </script>



</body>
</html>